/* Importando fonte que será usada: font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Estrutura comum ao site */
:root {
	--width-max-desktop: 1150px;
	--laranja-padrao: #b98b59;
	--qnt-banners: 3;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
body {
	overflow-x: hidden;
	padding-bottom: 315px;
}

.default-button {
	font-size: 12.5px;
	font-weight: 700;
	padding: 17px 40px;
	color: #fff;
	text-decoration: none;
	border-radius: 20px;
	background-color: var(--laranja-padrao);
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
}

.call-us {
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--laranja-padrao);
	bottom: 20px;
	right: 50px;
	cursor: pointer;
	
}
.section-light {
	max-width: var(--width-max-desktop);
	margin: auto;
	padding-top: 60px;
	padding-bottom: 60px;

}

.section-light {
	color: #000;
}
.section-light .header-section h1 {
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.section-light .header-section h2 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	color: #afafaf;
	margin-bottom: 50px;
}

.section-dark {
	color: #FFF;
	background-color: #000;
}
.section-dark .container {
	margin: auto;
	max-width: var(--width-max-desktop);
	padding-bottom: 60px;

}
.section-dark .header-section h1 {
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 60px;
}
.section-dark .header-section h2 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 60px;
}


/* Estrutura HEADER */
header {
	height: 100px;
	width: 100%;
	background-color: #000;
	color: #fff;
}

header nav {
	max-width: var(--width-max-desktop);
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}
header nav img {
	height: 100px;
	margin-right: 20px;
}

header ul {
	text-transform: uppercase;
	display: flex;
	list-style: none;
}
header ul a {
	text-decoration: none;
	display: block;
	padding-right: 7px;
	padding-left: 7px;
	line-height: 95px;
	border-bottom: solid 5px #000;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}
header ul a:hover{
	border-bottom: solid 5px var(--laranja-padrao);
}

/* Área dos Banners - Slide Banners */

main .slide-banners {
	height: calc(100vh - 100px);
	width: calc(100vw * var(--qnt-banners));
	
	display: flex;
}

main .slide-banners .banner {
	height: 100%;
	width: 100vw;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: bottom;
}
main .slide-banners .banner .estrutura {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main .slide-banners .banner .header h1,
main .slide-banners .banner .header h2 {
	text-transform: uppercase;
	font-size: 50px;
}
main .slide-banners .banner .header h1 {
	color: #fff;
}
main .slide-banners .banner .header h2 {
	color: var(--laranja-padrao);
	padding-bottom: 30px;
}
	
main .slide-banners .banner .main p {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 60px;
}
main #banner .controls-banner {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 40px;

}

main #banner .bol-banner {
	width: 15px;
	height: 15px;
	border: 3px solid var(--laranja-padrao);
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}

main #banner .bol-banner.active,
main #banner .bol-banner:hover {
	background-color: var(--laranja-padrao);
}


/* Section About US */
#about-us .body-section {
	display: flex;
	justify-content: space-between;
}
#about-us .body-section .text-about {
	flex: 1;
	margin-right: 35px;
}
#about-us .body-section .text-about p {
	font-size: 10pt;
	word-spacing: 0;
	margin-bottom: 40px;
	text-align: justify;
}

#about-us .body-section .video-about {
	width: 450px;
	height: 280px;
	box-shadow: 4px 4px 35px #a0a0a0;
}

/* Section Services */
#services .body-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#services .body-section .serv:nth-child(1) {
	border-left: 2px solid #383838;
}
#services .body-section .serv {
	min-width: calc(var(--width-max-desktop)/4);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 30px;
	border-right: 2px solid #383838;
}

#services .body-section .serv img {
	max-width: 60px;
	margin-bottom: 40px;
}
#services .body-section .serv h1 {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 13px;
}

#services .body-section .serv p {
	color: #afafaf;
	font-size: 10px;
	text-align: center;
}


/* Section Our Projects */
#our-projects .body-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#our-projects .body-section .menu-projects {
	background-color: #ededed;
	padding: 5px 50px;
	border: 1.5px solid #d2d2d2;
	border-radius: 350px;
}
#our-projects .body-section .menu-projects ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
#our-projects .body-section .menu-projects a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding: 25px;
	font-size: 15px;
	border-left: 1.5px solid #cfcfcf;
	border-bottom: 5px solid #ededed;
}
#our-projects .body-section .menu-projects a:nth-child(1){
	border-left: 0;
}
#our-projects .body-section .menu-projects a:hover{
	border-bottom: 5px solid var(--laranja-padrao);
}
#our-projects .body-section .gallery-projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#our-projects .body-section .gallery-projects .box-photo {
	width: 250px;
	height: 150px;
	cursor: pointer;
	margin-top: 30px;
	margin-right: 30px;
}
#our-projects .body-section .gallery-projects .box-photo img {
	width:100%;
	height: 100%;
}
#our-projects .body-section .gallery-projects .box-photo .photo-info {
	display: none;
	color: #fff;
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.7);
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	position: absolute;
}
#our-projects .body-section .gallery-projects .box-photo:hover .photo-info {
	display: flex;
}
#our-projects .body-section .gallery-projects .box-photo .photo-info .title {
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 22px;
}
#our-projects .body-section .gallery-projects .box-photo .photo-info .desc {
	text-align: center;
	font-size: 10px;
}
#our-projects .more-projects {
	margin-top: 35px;
}

/* Section Our-team */
#our-team .header-section h2 {
	color: #aeaeae;
}
#our-team {
	background-image: url(../img/bg2.jpg);	
	background-size: cover;
	background-position: center;
	background-color: none; /* rgba(0,0,0,0.1); */
}

#our-team .escuro {
	display:flex;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
}
#our-team .body-section .workers {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#our-team .body-section .box-worker {
	min-width: 330px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:#000;
	padding: 45px 20px;
	border-radius: 5px;
	margin-right: 30px;
	margin-top: 10px;
}
#our-team .body-section .box-worker img {
	padding-bottom: 40px;
	max-width: 210px;

}
#our-team .body-section .box-worker h1 {
	font-weight: 500;
	text-align: center;
	padding-bottom: 10px;
	font-size: 20pt;
	text-transform: uppercase;
}
#our-team .body-section .box-worker h2 {
	text-align: center;
	font-weight: 300;
	font-size: 10pt;
	color: #727272;
	text-transform: capitalize;
}
#our-team .body-section .box-worker .social-media {
	padding-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#our-team .body-section .box-worker .social-media .social-box {
	cursor: pointer;
	width: 35px;
	height: 35px;
	background-color: #bebebe;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 35px;
	margin-right: 7px;
}

#our-team .body-section .box-worker .social-media .social-box.active,
#our-team .body-section .box-worker .social-media .social-box:hover {
	background-color: var(--laranja-padrao);
}

#our-team .controls-banner {
	margin-top: 50px;
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	bottom: 0;
}
#our-team .bol-banner {
	width: 15px;
	height: 15px;
	border: 3px solid var(--laranja-padrao);
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}

#our-team .bol-banner.active,
#our-team .bol-banner:hover {
	background-color: var(--laranja-padrao);
}