/* Importando fonte que será usada: font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* Estrutura comum ao site */
:root {
	--width-max-desktop: 1150px;
	--laranja-padrao: #b98b59;
	--qnt-banners: 3;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
body {
	overflow-x: hidden;
}
.default-button {
	display: inline-block;
	font-size: 12.5px;
	font-weight: 700;
	padding: 17px 40px;
	color: #fff;
	text-decoration: none;
	border-radius: 20px;
	background-color: var(--laranja-padrao);
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
}
.call-us {
	position: fixed;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: var(--laranja-padrao);
	bottom: 20px;
	right: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.call-us img {
	width: 50%;
}
.section-light {
	padding: 60px 30px;
	color: #000;
}
.section-light .container {
	margin: auto;
	max-width: var(--width-max-desktop);
}
.section-light .header-section h1 {
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.section-light .header-section h2 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	color: #afafaf;
	margin-bottom: 50px;
}
.section-dark {
	color: #FFF;
	background-color: #000;
}
.section-dark .container {
	padding: 60px 30px;
	margin: auto;
	max-width: var(--width-max-desktop);
}
.section-dark .header-section h1 {
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 60px;
}
.section-dark .header-section h2 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	padding-bottom: 60px;
}
/* Estrutura HEADER */
header {
	width: 100%;
	background-color: #000;
	color: #fff;
}
header nav .menu-mobile {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 50px;
}
header nav .menu-mobile .listra {
	width: 30px;
	height: 5.5px;
	border-radius: 3px;
	background-color: var(--laranja-padrao);
	margin-bottom: 5px;
}
header nav {
	max-width: var(--width-max-desktop);
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header nav img {
	height: 100px;
	margin-right: 20px;
}
header ul {
	text-transform: uppercase;
	display: flex;
	list-style: none;
}
header ul a {
	text-decoration: none;
	display: block;
	padding-right: 7px;
	padding-left: 7px;
	line-height: 95px;
	border-bottom: solid 5px #000;
	color: #fff;
	font-weight: 600;
	font-size: 12px;
}
header ul a:hover{
	border-bottom: solid 5px var(--laranja-padrao);
}
/* Área dos Banners - Slide Banners */
main .slide-banners {
	height: calc(100vh - 100px);
	width: calc(100vw * var(--qnt-banners));
	display: flex;
}
main .slide-banners .banner {
	height: 100%;
	width: 100vw;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: bottom;
}
main .slide-banners .banner .estrutura {
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
main .slide-banners .banner .header h1,
main .slide-banners .banner .header h2 {
	text-transform: uppercase;
	font-size: 50px;
}
main .slide-banners .banner .header h1 {
	color: #fff;
}
main .slide-banners .banner .header h2 {
	color: var(--laranja-padrao);
	padding-bottom: 30px;
}
main .slide-banners .banner .main p {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 60px;
	text-transform: uppercase;
}
main #banner .controls-banner {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 40px;
}
main #banner .bol-banner {
	width: 15px;
	height: 15px;
	border: 2px solid var(--laranja-padrao);
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}
main #banner .bol-banner.active,
main #banner .bol-banner:hover {
	background-color: var(--laranja-padrao);
}
/* Section About US */
#about-us .body-section {
	display: flex;
	justify-content: space-between;
}
#about-us .body-section .text-about {
	flex: 1;
	margin-right: 35px;
}
#about-us .body-section .text-about p {
	font-size: 10pt;
	word-spacing: 0;
	margin-bottom: 40px;
	text-align: justify;
}
#about-us .body-section .video-about {
	width: 450px;
	height: 280px;
	box-shadow: 4px 4px 35px #a0a0a0;
}
/* Section Services */
#services .body-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#services .body-section .serv:nth-child(1) {
	border-left: 2px solid #383838;
}
#services .body-section .serv {
	min-width: calc((var(--width-max-desktop)/4)-1px);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 30px;
	border-right: 2px solid #383838;
}
#services .body-section .serv img {
	max-width: 60px;
	margin-bottom: 40px;
}
#services .body-section .serv h1 {
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom: 13px;
}
#services .body-section .serv p {
	color: #afafaf;
	font-size: 10px;
	text-align: center;
}
/* Section Our Projects */
#our-projects .body-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#our-projects .body-section .menu-projects {
	background-color: #ededed;
	padding: 5px 50px;
	border: 1.5px solid #d2d2d2;
	border-radius: 25px;
}
#our-projects .body-section .menu-projects ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	list-style: none;
}
#our-projects .body-section .menu-projects a {
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	padding: 25px;
	font-size: 15px;
	border-left: 1.5px solid #cfcfcf;
	border-bottom: 5px solid #ededed;
}
#our-projects .body-section .menu-projects a:nth-child(1){
	border-left: 0;
}
#our-projects .body-section .menu-projects a:hover{
	border-bottom: 5px solid var(--laranja-padrao);
}
#our-projects .body-section .gallery-projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#our-projects .body-section .gallery-projects .box-photo {
	width: 250px;
	height: 150px;
	cursor: pointer;
	margin-top: 30px;
	margin-right: 30px;
}
#our-projects .body-section .gallery-projects .box-photo img {
	width:100%;
	height: 100%;
}
#our-projects .body-section .gallery-projects .box-photo .photo-info {
	display: none;
	color: #fff;
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.7);
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	position: absolute;
}
#our-projects .body-section .gallery-projects .box-photo:hover .photo-info {
	display: flex;
}
#our-projects .body-section .gallery-projects .box-photo .photo-info .title {
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 22px;
}
#our-projects .body-section .gallery-projects .box-photo .photo-info .desc {
	text-align: center;
	font-size: 10px;
}
#our-projects .more-projects {
	margin-top: 35px;
}
/* Section Our-team */
#our-team .header-section h2 {
	color: #aeaeae;
}
#our-team {
	background-image: url(../img/bg2.jpg);	
	background-size: cover;
	background-position: center;
	background-color: none; /* rgba(0,0,0,0.1); */
}
#our-team .escuro {
	display:flex;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
}
#our-team .body-section .workers {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#our-team .body-section .box-worker {
	max-width: 330px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:#000;
	padding: 45px 20px;
	border-radius: 5px;
	margin-right: 30px;
	margin-top: 10px;
}
#our-team .body-section .box-worker img {
	padding-bottom: 40px;
	max-width: 210px;
}
#our-team .body-section .box-worker h1 {
	font-weight: 500;
	text-align: center;
	padding-bottom: 10px;
	font-size: 20pt;
	text-transform: uppercase;
}
#our-team .body-section .box-worker h2 {
	text-align: center;
	font-weight: 300;
	font-size: 10pt;
	color: #727272;
	text-transform: capitalize;
}
#our-team .body-section .box-worker .social-media {
	padding-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#our-team .body-section .box-worker .social-media .social-box {
	cursor: pointer;
	width: 35px;
	height: 35px;
	background-color: #bebebe;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 35px;
	margin-right: 7px;
}
#our-team .body-section .box-worker .social-media .social-box.active,
#our-team .body-section .box-worker .social-media .social-box:hover {
	background-color: var(--laranja-padrao);
}
#our-team .controls-banner {
	margin-top: 50px;
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	bottom: 0;
}
#our-team .bol-banner {
	width: 15px;
	height: 15px;
	border: 2px solid var(--laranja-padrao);
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}
#our-team .bol-banner.active,
#our-team .bol-banner:hover {
	background-color: var(--laranja-padrao);
}
/* Section Happy Clients */
#clients {
	background-color: #f7f7f7;
}
#clients .client-review {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#clients .client-review img {
	padding-bottom: 30px;
}
#clients .client-review h1 {
	font-size: 20px;
	padding-bottom: 20px;
}
#clients .client-review h2 {
	font-size: 17px;
	font-weight: 500;
	padding-bottom: 30px;
}
#clients .client-review p {
	color: #7e7e7e;
	font-size: 10pt;
	text-align: center;
	max-width: 800px;
	letter-spacing: 1px;
	line-height: 20px;
}
#clients .controls-banner {
	margin-top: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
}
#clients .bol-banner {
	width: 15px;
	height: 15px;
	border: 2px solid var(--laranja-padrao);
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}
#clients .bol-banner.active,
#clients .bol-banner:hover {
	background-color: var(--laranja-padrao);
}
/* Sections Brandings */
#brandings {
	width: 100%;
	padding-top: 60px;
    padding-bottom: 60px;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
#brandings .container {
	max-width: var(--width-max-desktop);
	margin: auto;
	padding: 0 30px;
}
#brandings .container .body-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* Section Price */
#price {
	background-color: #f7f7f7;
}
#price .princing-table {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#price .princing-table .princing-card {
	max-width: 300px;
	min-width: 230px;
	border-radius: 5px;
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
	margin-top: 20px;
}
#price .princing-table .princing-card h2 {
	text-transform: uppercase;
	text-align: center;
	color: #242424;
	font-size: 13pt;
	font-weight: 600;
	margin-bottom: 20px;
}
#price .princing-table .princing-card h1 {
	text-align: center;
	font-size: 27pt;
	text-transform: uppercase;
	padding-bottom: 0;
	margin-bottom: 0;
}
#price .princing-table .princing-card h3 {
	text-align: center;
	margin-top: 0;
	padding-top:0;
	font-weight: 400;
	color: #aeaeae;
	font-size: 10pt;
	text-transform: uppercase;
	margin-bottom: 25px;
}
#price .princing-table .princing-card p {
	text-align: center;
	padding-bottom: 0px;
	text-transform: capitalize;
	font-size: 9pt;
	color:#898989;
}
#price .princing-table .princing-card .choose {
	margin-top: 30px;
	background-color: #373737;
}
#price .princing-table .princing-card .choose:hover,
#price .princing-table .princing-card .choose.active {
	background-color: #b98b59;
}
/* Premium-feature's Section */
#premium .body-section .feature {
	display: flex;
	justify-content: space-around;
	padding-bottom: 50px;
	border-bottom: 1px solid #d8d8d8;
}
#premium .body-section .feature img {
	
}
#premium .feature-description {
	display: flex;
	flex-direction: column;
}
#premium .feature-description .title {
	padding-top: 40px;
	display: flex;
}
#premium .feature-description .title h1 {
	text-transform: uppercase;
	margin-left: 30px;
	font-size: 20pt;
}
#premium .feature-description .desc {
	margin-left: 64px;
	line-height: 25px;
	color: #b8b8b8;
	font-size: 10pt;
	margin-top: 5px;
}
#premium .controls-banner {
	margin-top: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
}
#premium .bol-banner {
	width: 15px;
	height: 15px;
	border: 2px solid var(--laranja-padrao);
	border-radius: 50%;
	margin-right: 5px;
	margin-left: 5px;
	cursor: pointer;
}
#premium .bol-banner.active,
#premium .bol-banner:hover {
	background-color: var(--laranja-padrao);
}
#premium .choose {
	display: flex;
	margin-top: 40px;
	justify-content: center;
}
/* Some-facts's section */
#some-facts .header-section h2 {
	color: #b0b0b0;
}
#some-facts .body-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#some-facts .body-section .fact {
	min-width: calc(var(--width-max-desktop)/4-1px);
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 30px;
}
#some-facts .body-section .fact h2 {
	color: var(--laranja-padrao);
	font-size: 32pt;
}
#some-facts .body-section .fact .trace {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 20px;
	height: 5px;
	background-color: #7f7f7f;
}
#some-facts .body-section .fact h1 {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 13px;
	text-align: center;
}
#some-facts .body-section .fact p {
	color: #afafaf;
	font-size: 10px;
	text-align: center;
}
/* Tell about us section */
#tell-about-us {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #cfcfcf;
	background-color: #fefefe;
}
#tell-about-us .tell {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 60px;
}
#tell-about-us .tell img {
	text-align: center;
	margin-right: 20px;
}
#tell-about-us p {
	font-size: 9pt;
	color: #bfbfbf;
	font-weight: 700;
	text-transform: uppercase;
}
#tell-about-us .social-info {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
}
#tell-about-us .info-social {
	display: flex;
	justify-content: center;
	align-items: center;
}
#tell-about-us .social-info .fundo {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
}
#tell-about-us .social-info .fundo.twitter {background-color: #34c5f2;}
#tell-about-us .social-info .fundo.linkedin {background-color: #137cb5;}
#tell-about-us .social-info .fundo.facebook {background-color: #336296;}
#tell-about-us .social-info .fundo.googleplus {background-color: #e64238;}
#tell-about-us .social-info .fundo.pinterest {background-color: #b81c29;}
/* Contact-us Sections */
#contact-us {background-color: #f7f7f7;}
#contact-us .form-div {
	display: flex;
	justify-content: center;
	align-items: center;
}
#contact-us .form-div form {
	width: 60%;
}
#contact-us .form-div form .first-line,
#contact-us .form-div form .second-line,
#contact-us .form-div form .third-line {
	display: flex;
	margin-bottom: 40px;
}
#contact-us .form-div form .fourth-line {
	display: flex;
	justify-content: center;
	align-items: center;
}
#contact-us .form-div form input,
#contact-us .form-div form textarea {
	width: 100%;
	border:0;
	background-color: transparent;
	border-bottom: 2px solid #aeaeae;
	line-height: 40px;
	font-size: 11pt;
}
#contact-us .form-div form textarea {
	width: 100%;
	text-align: justify;
	resize: none;
}
#contact-us .form-div form input:focus-visible,
#contact-us .form-div form textarea:focus-visible {
	outline: transparent;
	border-bottom: 2px solid var(--laranja-padrao);
}
#contact-us .form-div form .first-line input:nth-child(1){
	margin-right: 30px;
}
/* Location's Section */
#location {
	background-image: url("../img/mapa.png");
	background-position: center;
	background-size: cover;
}
#location .box-info-location {
	background-color: #ffffff;
	max-width: 50%;
	padding-top: 50px;
	padding-bottom: 50px;
}
#location .box-info-location .info-location {
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-bottom: 15px;
}
#location .box-info-location .info-location .fundo-cinza {
	background-color: #aeaeae;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
}
#location .box-info-location .info-location p {
	font-size: 9pt;
	color: #7e7e7e;
	font-weight: 400;
	margin-left: 10px;
}
/* Footer */
footer {
	background-color: #000;
	min-height: 250px;
	padding: 40px 30px;
}
footer .container {
	display: flex;
	justify-content: center;
	max-width: var(--width-max-desktop);
	margin:auto;

}
/* BOX 1 */
footer .box1, footer .box2, footer .box3 {
	flex: 1;
}
footer .box1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
footer .box1 .social-media {
	display: flex;
}
footer .box1 .social-media .social-box {
	cursor: pointer;
	width: 35px;
	height: 35px;
	background-color: #373737;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 7px;
}
footer .box1 .social-media .social-box.active,
footer .box1 .social-media .social-box:hover {
	background-color: var(--laranja-padrao);
}
footer .box1 p {
	color:#fff;
	font-weight: 500;
	margin-right: 30px;
}
/* END BOX 1 */
/* BOX 2 */
footer .box2 {
	margin-right: 30px;
}
footer .box2 p {
	height: inherit;
	font-size: 9pt;
	color: #7e7e7e;
	font-weight: 400;
	text-align: justify;
}
/* END BOX2 */
/* BOX 3 */
footer .box3 {
	background-color: #373737;
	padding-bottom: 25px;
	padding-top: 25px;
	border-radius: 5px;
}
footer .box3 form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer .box3 .line {
	margin-bottom: 20px;
}
footer .box3 form input {	
	width: 100%;
	border:0;
	background-color: transparent;
	border-bottom: 2px solid #aeaeae;
	line-height: 40px;
	font-size: 11pt;
	text-align: center;
	color: #fff;
}
footer .box3 form input:focus-visible {
	outline: transparent;
	border-bottom: 2px solid var(--laranja-padrao);
}
footer .box3 a {
	display: inline-block;
}
/* END BOX3 */
/* Responsive configurations */
@media (max-width: 875px) {
	/* Menu */
	header nav .menu-mobile {
		display: flex;
	}
	header nav ul {
		display: none;
		flex-direction: column;
		position: absolute;
		top:0;
		right: 0;
		margin-top: 100px;
		height: calc(100vh - 100px);
		background-color: rgba(0, 0, 0, 0.9);
		width: 400px;
	}
	header ul a {
		padding: 20px 50px;
		line-height: initial;
		border-bottom: 0;
		font-size: 12pt;
	}
}
@media (max-width: 740px){
	#about-us .body-section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#about-us .body-section .text-about {
		text-align: center;
		margin-bottom: 50px;
	}
	footer .container {
		flex-direction: column-reverse;
	}
	footer .container .box1 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	footer .container .social-media {
		margin-bottom: 20px;
	}
	footer .container .box2 {
		margin-right: 0;
	}
	footer .container .box1,
	footer .container .box2,
	footer .container .box3 {
		margin-bottom: 20px;
	}
}
@media (max-width: 690px){
	#premium .body-section .feature {
		flex-direction: column;
		align-items: center;
	}
	#brandings .container .body-section img:nth-child(4) {
		display: none;
	}
}
@media (max-width: 590px) {
	#brandings .container .body-section img:nth-child(1),
	#brandings .container .body-section img:nth-child(3) {
		display: none;
	}
	#location .box-info-location {
		max-width: 100%;
	}
	#tell-about-us {
		flex-direction: column;
	}
	#tell-about-us .info-social {
		padding-left: 30px;
	}
	#tell-about-us .tell {
		margin-bottom: 10px;
	}
	#tell-about-us .social-info {
		flex-direction: column;
	}
	#tell-about-us .social-info .fundo {
		margin-bottom: 3.5px;
		margin-right: 0;
	}
}